$black-color: #000;
$green-color: #3c4a39;
$margin-xxlarge-margin: 160px;
$base-font-family: 'Cinzel Decorative', sans-serif;

$global-font-size: 21px;
$base-body-font-size: 18px;
$text-large-font-size: 22px;
$global-border: $green-color;
$alert-success-color: #007f26;
$alert-danger-color: #aa000d;
$base-body-color: $black-color;
$base-link-color: $green-color;
$global-link-hover-color: #1C3722;
$base-heading-color: $green-color;
$navbar-nav-item-color: $black-color;
$global-font-family: $base-font-family;
$global-emphasis-color: $base-body-color;
$button-primary-background: $green-color;
$navbar-nav-item-hover-color: $green-color;
$base-body-font-family: $base-font-family;
$base-code-font-family: $base-font-family;
$base-heading-font-family: $base-font-family;
$global-primary-background: lighten($green-color, 20%);
$default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;